
.loginRegisterBox {
  box-sizing: border-box;
  padding: 2rem 1rem;
  position: absolute;
  top: 40%;
  left: 10%;
  width: 80%;
  border-radius: 10px;
  background-color: rgba(255,255,255,.85);
}


.title--hero {
  position: absolute;
  width: 90%;
  top: 10px;
  left: 5%;
}

@media screen and (min-width: 480px) {
  .loginRegisterBox {
    top: 30%;
    left: 40%;
    width: 50%;
  }

  .title--hero {
    width: 70%;
    left: 15%;
  }



}

@media screen and (min-width: 800px) {
  .title--hero {
    width: 60%;
    left: 20%;
  }
}

@media screen and (min-width: 1100px) {
  .loginRegisterBox {
    top: 30%;
    left: 55%;
    width: 35%;
  }

  .title--hero {
    width: 45%;
    left: 15%;
    top: 20px;
  }

  .loginRegisterBox * {
    font-size: 1rem;
  }
  

}

.loginRegisterMenu {
  display: flex;
  flex-direction: row;
}

.loginRegisterMenu-item {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
